<Settings>
    <MyPath></MyPath>
    <ArchivePath></ArchivePath>
    <TemplatePath></TemplatePath>
    <TemplateName></TemplateName>
    <ActiveXL></ActiveXL>
    <YourEmail></YourEmail>
    <Name></Name>
    <Recipient></Recipient>
    <STMPServer></STMPServer>
    <SMTPPort></SMTPPort>
    <Password></Password>
</Settings>