<Settings>
    <MyPath>derp</MyPath>
    <ArchivePath>derp</ArchivePath>
    <TemplatePath>derp</TemplatePath>
    <TemplateName>Template.xlsx</TemplateName>
    <ActiveXL>derp.xlsx</ActiveXL>
    <YourEmail>derp</YourEmail>
    <Name>derp</Name>
    <Recipient>derp</Recipient>
    <STMPServer>derp</STMPServer>
    <SMTPPort>derp</SMTPPort>
    <Password>derp</Password>
</Settings>